.paginator {
  margin: 0 auto;

  button {
    background-color: black;
    border: 1px solid snow;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    &:hover {
      background-color: red;
      cursor: grabbing;
    }

    &:disabled {
      background-color: gray;
      cursor: not-allowed;
    }
  }

  .active {
    background-color: snow;
    color: black;
  }
}
